<br>
<div class="card">
    <div class="card-header" style="color: white;">
      <h2 >{{pageTitle}}</h2>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/registration.jpeg"
               class="img-responsive centre-block"
               style="max-width:50% ;max-height:280px;padding-bottom:20px" />
        </div>   
        <div class="text-center" style="color: white;"><h2>Bulid your future here!!!</h2>
        <p style="color: white;">You can enroll in currently available courses in just a few steps.
          Select the "REGISTER" button. This will take you to the registration page. 
          Complete the registration by giving correct information as asked in the form. 
          Once you have filled all the fields, you can click on the Submit  button to turn to the home page.</p>
        </div>
    </div >
    <div class="text-center">
    <button mat-button (click)="list()" class="btn btn-success">REGISTER</button>
  </div>
  </div>
  </div>

